* {
  padding: 0; 
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
:root {
  --text-color:#fff;
  --bigfont-color:#e45175;
  --background:#e45175;
  --bg-body-color: #fed7db;
  --body-color: #703A03;
  --bg-header-color:#fed7db;
  --logo-header-color:#e45175;
  --a-navbar-color:#e45175;
  --header-navbar-color:#fed7db;
  --a-hover-navbar-color:#703A03;
  --about-text-color:#e45175;
  --heading-span-color:#e45175;
  --bg-menu-box-color:#feeee7;
  --text-menu-box-color: #000;
  --text-menu-box-h3-color:#e45175;
  --text-box-span-color:#703A03;
  --copy-color: #887868;
  --copy-a-color:#e45175;
  --copy-a-hover-color:#703A03;
  --col-h4-color:#e45175;
  --col-hover-color:#e45175;
  --col-social-hover-color:#703A03;
  --hr-color:#703A03;
  --shadow-color: #7b7a7a;
  --menu-icon-color:#e45175;
  --big-font:5rem;
  --h2-font:2.25rem;
  --p-font:0.9rem;
}
*::selection {
  background: var(--background);
  color: var(--text-color);
}

body {
  color: var(--body-color);
  background:var(--bg-body-color);
}

header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 170px;
  background: var(--bg-header-color);
}
.logo {
  color: var(--logo-header-color);
  font-weight: 600;
  font-size: 2.4rem;
}
.navbar{
  display: flex;
}
.navbar a{
  color: var(--a-navbar-color);
  font-size: 1.1rem;
  padding: 10px 20px;
  font-weight: 500;
}
.navbar a:hover {
  color:var(--a-hover-navbar-color);
  transition: .4s;
}
#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none; 
}
section {
  padding: 70px 17%;
}

.home {
  width: 100%;
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  align-items: center;
 
}
.home-img img {
  max-width: 100%;
  width: 600px;
  height: auto;
}
.home-text h1 {
  font-size: var(--big-font);
  color: var(--bigfont-color);

}
.home-text h2 {
  font-size: var(--h2-font);
  margin: 1rem 0 2rem;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background: var(--background);
  color: var(--text-color);
  border-radius: 0.5rem;
}
.btn:hover {
  transform: scale(1.3) translate(0px);
  transition: .4s;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 1.2rem;
  align-items: center;
}
.about-img img {
  max-width: 100%;
  width: 580px;
  height: auto;
  filter:drop-shadow(20px 20px 20px var(--shadow-color)); 
}

.about-text span{
  color: var(--about-text-color);
  font-size: 600;
}
.about-text h2 {
  font-size: var(--h2-font);
}
.about-text p {
  margin: 0.8rem 0 1.8rem;
  line-height: 1.7;
}

.heading {
  text-align: center;
  padding: 50px 0 0 0;
}
.heading span {
  color: var(--heading-span-color);
  font-weight:  600;
  padding: 80px 0 0 0;
}
.heading h2 {
  font-size: var(--h2-font);
} 
.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  grid-gap: 1.5rem;
  align-items: center;
}
.box {
  position: relative;
  margin-top: 4rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg-menu-box-color);
  padding: 20px;
  border-radius: 0.5rem;
}
.box-img {
  width: 220px;
  height: 220px;
}
.box-img img {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
}
.box h2 {
  font-size: 1.3rem;
  color: var(--text-menu-box-color);
}
.box h3 {
  color: var(--text-menu-box-color);
  font-size: 1rem;
  font-weight: 400;
  margin: 4px 0 10px;
}
.box span {
  font-size: var(--p-font);
  color: var(--text-box-span-color);
  font-weight: 600;
}
.box .bx {
  background: var(--background);
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  padding: 7px 10px;
  border-radius: 0 .5rem 0 .5rem;
}

.service-container { 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  grid-gap: 1.5rem;
  margin: 2.5rem;
}
.s-box {
  text-align: center;
  padding: 20px 30px;
}
.s-box img {
  width: 90px;
}
.s-box h3 {
  margin: 4px 0 10px; 
  color: var(--text-menu-box-h3-color);
  font-size: 1.2rem;
}
.s-box p {
  line-height: 1.7rem;
}
.cta {
  background: var(--bg-menu-box-color);
  padding: 70px 0;
  text-align: center;
  width: 66%;
  margin: 100px auto;
  border-radius: 10px;
}
.cta h2 {
  font-size: 2rem;
  color: var(--text-menu-box-color);
  margin-bottom: 30px;
}
.deponame {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.deponame b {
  color: #000;
}

.footer {
  padding: 10px 0 10px 150px;
}
.main-footer {
  display: flex;
  justify-content: space-between;
}
.footerdois {
  padding: 30px;
  text-align: center;
} 
.copy {
  color: var(--copy-color);
}
.copy a {
  color: var(--copy-a-color);
}
.copy a:hover {
  color: var(--copy-a-hover-color);
  transition: .4s;
}
.col {
  width: 30%;
}
.col h4 {
  font-size: 1.2rem;
  color: var(--col-h4-color);
  margin-bottom: 10px;
  position: relative;
}
.col ul li:not(last-child) {
  margin-bottom: 5px;
}
.col ul li a {
  color: var(--copy-color);
  font-size: .9rem;
  display: block;
  text-transform: capitalize;
  transition: .4s;
}
.col ul li a:hover {
  color: var(--col-hover-color);
  transform: translateX(5px);
}
.col .social {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.col .social a {
  height: 40px;
  width: 40px;
  background: var(--background);
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  justify-content:center;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: .4s;
}
.col .social a:hover {
  transform: scale(1.2);
  color: var(--col-social-hover-color);
  background: var(--text-color);
}
hr {
  border-color: var(--hr-color);
}

@media (max-width: 1560px) {
  header {
    padding: 15px 40px;
  }
  :root {
    --big-font:3.5rem;
    --h2-fonte:2rem;
  }
  .footer {
    padding: 50px 5% 40px;
  }
}  

@media (max-width: 1140px) {
    section {
      padding: 50px 8%;
    }
    #menu-icon {
      display: initial;
      color: var(--menu-icon-color);
    }
    header .navbar {
      position: absolute;
      top: -400px;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      background:var(--header-navbar-color);
      transition: .3s;
    }
    header .navbar.active {
      top: 50px;
    }
    .navbar a {
      padding: 1.5rem;
      display: block;
    }
    .col {
      width: 50%;
      margin-bottom: 20px;
    }
    .main-footer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, auto));
      gap: 2rem;
    }
    .logo {
      font-size: 1.5rem;
    }

}

@media (max-width: 720px) {
  header {
    padding: 10px 16px;
  }
  .home {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about-img {
    order: 2;
  }
  section {
    padding: 100px 0 5%;
  }
  .logo {
    font-size: 1.5rem;
  }
 
}

@media (max-width: 575px) {
  .col {
    width: 100%;
  }
  .logo {
    font-size: 1.5rem;
  }
  
}

@media (max-width: 378px) {
  .col {
    width: 100%;
  } 
  .logo {
    font-size: 1.5rem;
  }


}
